<div class="container">
  <div class="site-navigation">
    <%= link_to products_path do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <h2 class="site-navigation-title">Your Favorites <i class="fa fa-heart"></i></h2>
  </div>
  <% if @favorites.count > 0 %>
    <div class="products row">
      <% @favorites.each do |fav| %>
        <div class="col-6">
          <%= link_to product_path(fav.product) do %>
            <div class="product-card">
            <% if fav.product.photos.count != 0 %>
                <% fav.product.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, class: 'product-img' %>
                <% end %>
                <% else %>
                <img class="product-show-img" src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg" alt="">
              <% end %>
              <div class="product-information">
                <h2 class="product-title"><%= fav.product.title %></h2>
                <p class="product-price">$<%= fav.product.price %></p>
              </div>
              <div class="favorite-button">
                <%= link_to favorite_path(fav), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
  <div style="margin: 50% auto;text-align: center;" class="error-message">
  <h1> You don't have any favorites! 🥺</h1>
    <p>
    You can add an item to favorites by clicking on the heart
    that shows up on the top left.
    </p>
  </div>
  <% end %>
</div>
