<div class="container">
  <div class="site-navigation">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <h2 class="site-navigation-title">Your Messages</h2>
  </div>

  <div class="message-search">
      <%= form_with url: products_path, method: :get, id: 'searchForm', class: "search-form" do %>
        <div class="search-bar">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
          <%= submit_tag "Search", class: "button submit-button" %>
        </div>
      <% end %>
    </div>

    <% if @chatrooms.empty? %>
    <p style="text-align: center;">Sorry, you don't have any chats yet.</p>
    <% else  %>

      <% @chatrooms.each do |chatroom| %>
        <div class="chatroom-card">
          <%= link_to chatroom_path(chatroom) do %>
            <div class="chat-card-text">
              <% if chatroom.product.photos.attached? %>
                <%= cl_image_tag chatroom.product.photos.first.key, class: "product-img-chatcard" %>
              <% else %>
                <img class="product-img-chatcard" src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg" alt="">
              <% end %>
              <div>
                <h2 class="chatroom-title"><%= chatroom.product.title %></h2>
                <h2 class="chatroom-title"><span>Chat with <%= chatroom.product.user.first_name %></span></h2>
              </div>
            </div>
          <% end %>
          <div class="archive-feature">
            <%= link_to archive_chatroom_path(chatroom), data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}  do %>
              <i class="fa-solid fa-trash-can black"></i>
            <% end %>
          </div>
        </div>
      <% end %>

    <% end %>
</div>
