<div class="container">
  <div class="container chatroom">
    <h1> Chats </h1>
    <div class="search">
        <%= form_with url: chatrooms_path, method: :get, class: "d-flex search-field" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
      %>
      <%= submit_tag "Search", class: "button" %>
      <% end %>
    </div>
    <br>
    <%= link_to 'â† Go back to main page', products_path, class: "button" %>
    <% if @chatrooms.empty? %>
    <p>"Sorry! Couldn't find what you're looking for!"</p>
    <% else  %>
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do %>
        <div class="chatroom-card">
            <div class='chat-card-text'>
              <img class="message-user-img" src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg" alt="">
              <strong><%= chatroom.product.user.first_name %></strong><br>
              <strong><%= chatroom.product.title %></strong>
            </div>
          <% end %>
          <div class="archive-feature">
            <%= link_to archive_chatroom_path(chatroom), data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}  do %>
              <i class="fa-solid fa-trash-can black"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
