<div class="container">
  <div class="chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
  >

  <div class="site-navigation">
      <%= link_to :back do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
      <h2 class="site-navigation-title">Your Chat with <%= @chatroom.product.user.first_name %></i></h2>
    </div>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "message", message: message %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="message-field">
    <%= simple_form_for [@chatroom, @message], html: { data: { chatroom_subscription_target: "form", action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: 'message-field-form' } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Send a Message to #{@chatroom.product.user.first_name}",
        wrapper_html: {class: "message-type-field"},
        input_html: {class:"h-100"}
      %>
      <%= f.submit "Send", class: "button message-send-button" %>
    <% end %>
    </div>
  </div>
</div>
