<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1><%= @chatroom.product.title %></h1>
  <%= link_to '← Go back to main page', products_path, class: "button" %>
  <br>
  <br>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
    <%= render "message", message: message %>
    <% end %>
  </div>

  <div class="message-field">
  <%= simple_form_for [@chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.user.first_name}",
      wrapper_html: {class: "flex-grow-1"}
    %>

    <%= f.submit "Send", class: "button" %>
  <% end %>

  <%= link_to '← Go back to chatrooms', chatrooms_path, class: "button" %>
  </div>
</div>
