<div class="container">
  <div class="user-info">
    <div>
      <%= cl_image_tag @user.photo.key, class: 'user-img' %>
    </div>
    <div>
      <h2>Good morning👋<br><%= @user.first_name %> <%= @user.last_name %></h2>
    </div>
  </div>

  <div class="search">
    <h2>Search</h2>
    <p>Search here</p>
  </div>

  <div class="spotted">
    <h2>Spotted</h2>
    <p>Geomap here</p>
  </div>

  <div class="categories">
    <h2>Categories</h2>
    <p>Categories here</p>
  </div>

  <div class="products row">
    <h2>Most recent</h2>
    <% @products.each do |product| %>
      <div class="col-6">
        <%= link_to product_path(product) do %>
          <div class="product-card">
            <%= cl_image_tag product.photo.key, class: 'product-img' %>
            <div class="product-information">
              <h2 class="product-title"><%= product.title %></h2>
              <p class="product-price">$<%= product.price %></p>
            </div>
            <div class="favorite-button">
              <a href="#"><i class="fa fa-heart"></i></a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
