<div class="content-view">
  <div class="container">
    <% if current_user %>
      <div class="user-info">
        <div>
        <% if @user.photo.key %>
          <%= cl_image_tag @user.photo.key, class: 'user-img'%>
        <% else %>
          <img class="user-img" src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="">
        <% end %>
        </div>
        <div>
          <h2 class="site-navigation-title">Welcome to Dibs👋<br>
          <span>Good to see you, <%= @user.first_name %>!</span></h2>
        </div>
      </div>
    <% end %>
  </div>

  <div data-controller="search-products">
      <div class="search">
        <%= form_with url: products_path, method: :get, id: 'searchForm', class: "search-form" do %>
          <div class="search-bar">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
            <%= submit_tag "Search", class: "button submit-button" %>
          </div>
          <h2 style="margin-top: 20px; margin-bottom: -5px;">Categories</h2>
          <div class="search-filter">
            <% Product::CATEGORIES.each do |category|%>
              <div class="search-button <%= params[:categories]&.include?(category) ? 'button' : ''%> filter-search-button">
                <%= label_tag category %>
                <%= check_box_tag 'categories[]', category,params[:categories] ? params[:categories].include?(category) : false,
                data: {
                  search_products_target: "input",
                  action: "click->search-products#update"
                } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <div class="container">
      <div class="products row">
      <h2 style="margin-top: 15px; margin-bottom: -5px;">Most recent</h2>
        <% @products.each do |product| %>
          <%= content_tag :div, class: "col-6", id: "dom_id(product)" do %> <!-- Sebi tried to get anchors working -->
            <%= link_to product_path(product) do %>
              <div class="product-card">
                <div class="position-relative">
                  <% if product.photos.attached? %>
                    <% product.photos.each do |photo| %>
                      <%= cl_image_tag photo.key, class: 'product-img' %>
                    <% end %>
                  <% else %>
                    <img class="product-show-img" src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg" alt="">
                  <% end %>
                  <% if product.spotted == true %>
                    <div class="spotted-label">
                      <p>spotted</p>
                    </div>
                  <% end %>
                </div>
                <div class="product-information">
                  <h2 class="product-title"><%= product.title %></h2>
                  <% if product.spotted %>
                    <p class="product-price"><span style="">SPOTTED</span></p>
                  <% else %>
                    <p class="product-price"><%= product.price %> €</p>
                  <% end %>
                </div>
                <% if user_signed_in? %>
                  <div class="favorite-button">
                    <% if Favorite.where(product_id: product.id, user_id: current_user.id).empty? %>
                      <%= link_to product_favorites_path(product), data: {turbo_method: :post} do %>
                        <i class="fa-regular fa-heart"></i>
                      <% end %>
                    <% else %>
                      <i class="fa fa-heart"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="map-button">
  <button class="button map-button-button">Map<span style="margin-right: 7px;"></span><i class="fa fa-map"></i></button>
</div>


<div class="map-view invisible">
  <div class="modal-content spotted-map-index" style="width: 100%; height: 100% !important; position: absolute !important;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<script>

  map_button = document.querySelector('.map-button-button')
  map_button_container = document.querySelector('.map-button')


  map_button.addEventListener('click', (event) => {
  map_view = document.querySelector('.map-view')
  content_view = document.querySelector('.content-view')
  footer = document.querySelector('.footer')

    map_view.classList.toggle('invisible')
    content_view.classList.toggle('invisible')
    content_view.classList.toggle('invisible_2')

    footer.classList.toggle('absolute')
    map_button_container.classList.toggle('absolute')
  })


</script>
