<%= render "layouts/navbar" %>
<div class="container">
  <h1>All Products</h1>
  <%= link_to 'Create new Product ＋', new_product_path, class: 'btn btn-primary btn-sm' %>
  <br><br>

<div class="container"  id="product">
  <h1 class="index-title">Dibs</h1>
  <%= form_with url: product_path, method: :get, class: "d-flex search-field" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  <br><br><br>

  <div class="products-container">
    <% @products.each do |product| %>
      <div class="product-card">
        <img src="https://www.heartmath.co.uk/wp-content/uploads/2018/05/placeholder-landscape.png" style="width: 100%;" alt="must be replaced with actual product img (cl_image_tag...)">
        <br><br>
        <p><strong>Title:</strong> <%= product.title %></p>
        <p><strong>Describtion:</strong> <%= product.description %></p>
        <p><strong>Condition:</strong> <%= product.condition %></p>
        <p><strong>Material:</strong> <%= product.material %></p>
        <p><strong>Price:</strong> <%= product.price %></p>
        <p><strong>Dimension:</strong> <%= product.dimension %></p>
        <p><strong>Location:</strong> <%= product.location %></p>
        <p><strong>Spotted:</strong> <%= product.spotted %></p>
        <%= link_to 'See Product', product_path(product), class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
  </div>
</div>
<%= render "layouts/footer" %>
