<%= render "layouts/navbar" %>
<div class="container">
  <div class="products-container">
    <% @products.each do |product| %>
      <div class="product-card">
        <p><%= product.title %></p>
        <p><%= product.condition %></p>
        <p><%= product.description %></p>
      </div>
    <% end %>
  </div>
</div>
<%= render "layouts/footer" %>
