  <div class="container">

    <% if current_user %>
      <div class="user-info">
        <div>
        <% if @user.photo.key %>
          <%= cl_image_tag @user.photo.key, class: 'user-img'%>
        <% else %>
          <img class="user-img" src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg" alt="">
        <% end %>
        </div>
        <div>
          <h2 class="site-navigation-title">Welcome!👋<br>
          <span><%= @user.first_name %></span></h2>
        </div>
      </div>
    <% end %>

    <div class="spotted">
      <div class="spotted-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="search">
        <%= form_with url: products_path, method: :get, class: "d-flex search-field" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
      %>
      <%= submit_tag "Search", class: "button" %>
      <% end %>
    </div>

    <div class="products row">
      <h2>Most recent</h2>
      <% @products.each do |product| %>
        <div class="col-6">
          <%= link_to product_path(product) do %>
            <div class="product-card">
              <% if product.photos.count != 0 %>
                <% product.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, class: 'product-img' %>
                <% end %>
              <% else %>
                <img class="product-show-img" src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg" alt="">
              <% end %>
              <div class="product-information">
                <h2 class="product-title"><%= product.title %></h2>
                <p class="product-price"><%= product.price %> €</p>
              </div>
              <div class="favorite-button">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
