<div class="container">

  <div class="user-info">
    <div>
      <%= cl_image_tag @user.photo.key, class: 'user-img' %>
    </div>
    <div>
      <h1>Welcome <%= @user.first_name %> 👋</h1>
    </div>
  </div>

  <br>
  Search field here?
  Map here?
  <br><br>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-6">
        <%= link_to product_path(product) do %>
          <div class="product-card">
            <%= cl_image_tag product.photo.key, class: 'product-img' %>
            <div class="product-information">
              <h2 class="product-title"><%= product.title %></h2>
              <p class="product-price">$<%= product.price %></p>
            </div>
            <div class="favorite-button">
              <a href="#"><i class="fa fa-heart"></i></a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>




</div>
<%= render "layouts/footer" %>
