<%= render "layouts/navbar" %>
<div class="container">
  <h1>Welcome <%= @user.first_name %> <%= @user.last_name %></h1>
  <%= cl_image_tag @user.photo.key, class: 'product-img' %>
  <h1>All Products</h1>
  <%= link_to 'Create new Product ＋', new_product_path, class: 'btn btn-primary btn-sm' %>
  <br><br>

  <div class="products-container">
    <% @products.each do |product| %>
      <div class="product-card">
        <%= cl_image_tag product.photo.key, class: 'product-img' %>
        <br><br>
        <p><strong>Title:</strong> <%= product.title %></p>
        <p><strong>Describtion:</strong> <%= product.description %></p>
        <p><strong>Condition:</strong> <%= product.condition %></p>
        <p><strong>Material:</strong> <%= product.material %></p>
        <p><strong>Price:</strong> <%= product.price %></p>
        <p><strong>Dimension:</strong> <%= product.dimension %></p>
        <p><strong>Location:</strong> <%= product.location %></p>
        <p><strong>Spotted:</strong> <%= product.spotted %></p>
        <%= link_to 'See Product', product_path(product), class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
  </div>
</div>
<%= render "layouts/footer" %>
