<div class="container">
  <div class="site-navigation">
    <%= link_to products_path do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <div class="product-show-edit-nav">
      <h2 class="site-navigation-title">Go back</h2>

      <% if @user.id == @product.user.id %>
        <% raise %>
        <%= link_to edit_product_path(@product) do %>
          <i class="fa fa-pen"></i>
        <% end %>
      <% end %>


    </div>
  </div>

  <% if @user.photo.key %>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <% if @product.photos.count > 1 %>
      <ol class="carousel-indicators">
          <% @product.photos.each.with_index do |photo, index| %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>" class="<%= index == 0 ? 'active' : ''%>"></li>
      <% end %>
      </ol>
    <% end %>

    <div class="carousel-inner">
      <% @product.photos.each.with_index do |photo, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %> carousel-img">
          <%= cl_image_tag photo.key %>
        </div>
      <% end %>
    </div>

    <% if @product.photos.count > 1 %>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <% end %>
  </div>

  <% else %>
    <img class="product-show-img" src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg" alt="">
  <% end %>

  <br><br>
  <div class="product-show-title-container">
    <h2 class="product-show-title"><%= @product.title %></h2>
    <div class="product-show-favorite-button">
      <a href="#"><i class="fa fa-heart"></i></a>
    </div>
  </div>
  <hr>
  <p><strong>Description:</strong><br><%= @product.description %></p>
  <p><strong>Category:</strong><br><%= @product.category %></p>
  <p><strong>Condition:</strong><br><%= @product.condition %></p>
  <p><strong>Material:</strong><br><%= @product.material %></p>
  <p><strong>Dimension:</strong><br><%= @product.dimension %> cm</p>
  <p><strong>Location:</strong><br><%= @product.location %></p>
  <hr>
  <div class="product-show-price-container">
    <div class="product-price">
      <p>Total price</p>
      <p class="price"><%= @product.price %> €</p>
    </div>

    <% if @user.id != @product.user.id %>
      <%= link_to product_chatrooms_path(@product), class: 'button button-large', data: { turbo_method: :post } do %>
        <i class="fa fa-envelope"></i> Message
      <% end %>
    <% end %>

  </div>
  <hr>
  <div class="spotted-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <hr>
  <div class="product-show-user-info">
    <div class="product-show-user-titles">
      <% if @product.user.photo.key %>
        <%= cl_image_tag @product.user.photo.key, class: 'product-show-user-img' %>
      <% else %>
        <img class='product-show-user-img' src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="">
      <% end %>
      <h2 class="user-profile-title"><%= @product.user.first_name %> <%= @product.user.last_name %> <br> <span>Vendor</span></h2>
    </div>
    <div>
      <%= link_to user_path(@product.user) do %>
        <i class="fa fa-arrow-right user-arrow"></i>
      <% end %>
    </div>
  </div>
</div>
