<div class="footer">
  <div class="container">
      <div class="footer-container">
        <%= link_to products_path do %>
          <i class="fa fa-home"></i>
        <% end %>
        <%= link_to favorites_path do %>
          <i class="fa fa-heart"></i>
        <% end %>
        <%= link_to new_product_path do %>
          <i class="fa fa-plus-circle"></i>
        <% end %>
        <%= link_to products_path do %>
          <i class="fa fa-envelope"></i>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user) do %>
            <i class="fa fa-user"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-user"></i>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
